/*BASE STYLES*/
body {
  font-family: "TTCommons", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #262b33;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
/*END BASE STYLES*/

.header-login {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0px 32px;
}

.container-login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.container-login::before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 45%;
  pointer-events: none;
  background-size: auto 175%;
  background-image: url(../images/footer-login.svg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
}
.container-login--recover::before {
  background-image: url(../images/footer-recover.svg);
}
.container-login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  flex-grow: 1;
  padding: 40px 32px 95px;
}

.container-login-form-inner {
  width: 100%;
  max-width: 400px;
}

.bg-main {
  background-color: #2196f3 !important;
}
.bg-side {
  background-color: #21277f !important;
}
.bg-back {
  background-color: #f2f5fa !important;
}
.bg-bottom {
  background-color: #0f141f !important;
}
.text-main {
  color: #2196f3 !important;
}
.text-side {
  color: #21277f !important;
}
.text-back {
  color: #f2f5fa !important;
}
.text-bottom {
  color: #0f141f !important;
}
.text-title {
  font-weight: 700;
  font-size: 46px;
  line-height: 48px;
  margin: 0;
}
.text-regular {
  font-size: inherit;
}
.font-size-regular {
  font-size: 19px !important;
}
.text-help {
  color: #98a1b3;
  font-size: 16px;
  margin-bottom: 6px;
}
.text-link {
  text-decoration: none !important;
}
.text-link:hover {
  text-decoration: none !important;
}
.text-link:hover {
  color: #2196f3 !important;
}
.text-settings-help {
  letter-spacing: 2.2px;
  font-size: 1rem;
}
.text-settings-tfname {
  font-size: 1rem;
}
.text-settings-da {
  font-size: 1.1rem;
}
.text-settings-link-off {
  color: rgb(152, 161, 179);
  pointer-events: none;
  cursor: unset;
}
.text-settings-link-on {
  font-size: 1.2rem;
  color: #2196f3;
}
.text-settings-link-on,
.text-settings-link-on:hover,
.text-settings-link-on:focus {
  text-decoration: none !important;
}
.text-settings-link-on:hover {
  color: #21277f;
}
.textfield {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  display: block;
  caret-color: rgb(33, 150, 243);
  background-color: rgb(242, 245, 250);
  color: rgb(38, 43, 51);
  pointer-events: unset;
  border-radius: 3px;
  outline: none;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  transition: color 0.1s ease 0s;
  border-bottom: 2px solid rgb(242, 245, 250);
  font-size: inherit;
}

.text-header-modal {
  font-size: 2.5vh;
  font-weight: bold;
}

.carrousel_bg_inactive {
  background-color: #dde3f0;
}

.text_inactive_corrousel {
  color: #98a1b3;
}

.btn_redirect_white {
  color: white !important;
  text-decoration: none !important;
}

.textfield:focus {
  animation-duration: 0.5s;
  animation-name: slidein;
  border-bottom: 2px solid rgb(33, 150, 243);
}

@keyframes slidein {
  0% {
    border-bottom: 2px solid rgb(242, 245, 250);
  }
  100% {
    border-bottom: 2px solid rgb(33, 150, 243);
  }
}

.z-front {
  z-index: 1;
}
.z-back {
  z-index: -1;
}
.button {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  -webkit-appearance: none;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  cursor: pointer;
  user-select: none;
  pointer-events: auto;
  outline: none;
  padding: 14px 24px;
  border-radius: 4px;
  transition: background-color 0.1s ease 0s, box-shadow 0.1s ease 0s;
  border-width: 0px;
}
.button:hover {
  outline: none;
  background-color: #168ae6;
  color: #fff;
  text-decoration: none;
}
.button:focus {
  outline: none;
}
.button--small {
  font-size: 16px;
  padding: 8px 10px;
}
.button--white {
  background-color: #fff;
  border: 1px solid #dde3f0;
  color: #262b33;
}
.button--white:hover {
  background-color: #fff;
  color: #262b33;
}
.button-profile {
  position: absolute;
  right: 0;
  bottom: 15px;
}
.button_return {
  font-size: 23px;
  line-height: 0px;
  font-weight: 600;
  display: inline-block;
  -webkit-appearance: none;
  text-align: center;
  color: rgb(75, 79, 86);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  user-select: none;
  pointer-events: auto;
  outline: none;
  padding: 17px 37px;
  border-radius: 10px;
  transition: background-color 0.1s ease 0s, box-shadow 0.1s ease 0s;
  border-width: 0px;
}

.active-stepper {
  background-color: #2196f3;
  color: white;
}

.inactive-stepper {
  background-color: #d1d6e2;
  color: #6c757d;
}

.mt-6 {
  margin-top: 5rem !important;
}
.py-6 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.bg-h {
  height: 15vh;
}

.line {
  border-bottom-style: solid;
  border-color: #dde3f0;
  border-width: 1px;
}

.textfield.error:focus, .textfield.error:valid:focus{
    border-bottom: 2px solid rgb(33, 150, 243);
}
.textfield.error:valid{
    border-bottom: 0px solid rgb(33, 150, 243);;
}

.textfield.error{
    border-bottom: 2px solid #E53935;
}

.form-error-label{
    text-align: left;
    margin: 0;
    margin-left: 0.5em;
    font-size: 1rem;
    color: #E53935;
}

.interline-header {
  line-height: 1rem !important;
}

.end {
  height: 50px !important;
}

.my-bar {
  width: 5%;
  background-color: #f34213;
}

.app {
  background-color: #f2f5fa;
}
.dropdown-nav-options.show > a {
  color: #98a1b3;
}
.color-text {
  color: #262b33;
}
.title-page {
  font-size: 32px;
}
.nav-profiles {
  position: relative;
}
.nav-profiles .profile-option {
  font-size: 19px;
  color: #98a1b3;
}
.nav-profiles .profile-option.active {
  color: #262b33 !important;
  border-bottom: 3px solid #2f8deb;
}
.profile-card {
  max-width: 540px;
  background-color: inherit;
  border: 0;
}
.profile-card .card-text {
  font-size: 16px;
  color: #98a1b3;
}
.profile-more-options {
  font-size: 19px;
}

[type="date"] {
  background: #fff
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% 50% no-repeat;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.input-date-picker {
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  padding-left: 11px;
  padding-right: 11px;
  width: 100%;
  display: block;
  caret-color: rgb(33, 150, 243);
  background-color: rgb(242, 245, 250);
  color: rgb(38, 43, 51);
  pointer-events: unset;
  border-radius: 3px;
  outline: none;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  transition: color 0.1s ease 0s;
  border-bottom: 2px solid rgb(242, 245, 250);
  font-size: inherit;
}

@media only screen and (max-width: 991px) {
  .container-login::before {
    height: 220px;
  }
}
@media only screen and (max-width: 767px) {
  .container-login::before {
    height: 180px;
    background-position: 60% 0%;
  }
  .container-login-form {
    padding-bottom: 190px;
  }
  .text-title {
    font-size: 38px;
    line-height: 40px;
  }
  .nav-profiles .profile-option {
    width: 50%;
    text-align: center;
    margin: 0;
    white-space: normal;
  }
}
@media only screen and (max-width: 575px) {
  .profile-card .card-img {
    max-width: 200px;
  }
  .navbar-items {
    width: 100%;
    justify-content: center;
  }
}
@media only screen and (max-width: 500px) {
  .container-login::before {
    display: none;
  }
  .container-login-form {
    padding: 40px 20px 60px;
  }
  .container-login-form > .container {
    padding: 0;
  }
}
@media only screen and (max-width: 575px) {
  .bg-h {
    height: 7vh;
  }
}
@media only screen and (min-width: 576px) {
  .bg-h {
    height: 7vh;
  }
}
@media only screen and (min-width: 768px) {
  .img-s {
    width: 50%;
  }
}
@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
  .img-s {
    width: 55%;
  }
}
@media only screen and (min-height: 480px) {
  .img-nmt {
    margin-top: -6rem !important;
  }
}
@media only screen and (min-height: 720px) {
  .img-nmt {
    margin-top: -10rem !important;
  }
}
@media only screen and (min-height: 768px) {
  .img-nmt {
    margin-top: -11rem !important;
  }
}
@media only screen and (min-height: 1080px) {
  .img-nmt {
    margin-top: -16rem !important;
  }
}
